@model IEnumerable<Job>

@{
    ViewData["Title"] = "Jobs";
    
}
<!-- Jobs Start -->
<div class="container py-5">
    <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Job Listing</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="formContainer">
                <form asp-controller="Job" asp-action="Filter">
                    <div asp-validation-summary="ModelOnly"></div>
  
                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <input name="Title" class="form-control" />
                    </div>
                  
                    <div class="form-group">
                        <label class="form-label">Job Status</label>
                        <select name="Status" asp-items="@Html.GetEnumSelectList<JobStatus>()" class="form-select"></select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Type</label>
                        <select name="Type" asp-items="@Html.GetEnumSelectList<JobType>()" class="form-select"></select>
                       
                    </div>
                   
                    <div class="form-group">
                        <label class="form-label">Start Budget</label>
                        <input type="number" name="StartBudget" class="form-control" />
                       
                    </div>
                    <div class="form-group">
                        <label class="form-label">End Budget</label>
                        <input type="number" name="EndBudget" class="form-control" />
                       
                    </div>
                    <div class="form-group">
                        <label class="form-label">Vacancy</label>
                        <input type="number" name="Vacancy" class="form-control" />
                       
                    </div>
                    <div class="form-group">
                        <label class="form-label">Location</label>
                        <input name="Location" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Start Date</label>
                        <input type="datetime-local" name="StartDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">EndDate</label>
                        <input type="datetime-local" name="EndDate" class="form-control" />
                    </div>
                    <div class="form-group">

                        <input class="btn-global" type="submit"  />

                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
           
      
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                        <h6 class="mt-n1 mb-0">Featured</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <h6 class="mt-n1 mb-0">Full Time</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                        <h6 class="mt-n1 mb-0">Part Time</h6>
                    </a>
                </li>
            </ul>
           
        </div>
  
        </div>
    </div>
</div>
<!-- Jobs End -->